<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>robb83.github.io by robb83</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
	<style> video { background-color: #000; /* cursor: pointer; */ } p.media {  text-align:right; } a img { cursor: pointer; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>robb83.github.io</h1>
        <p class="view"><a href="https://github.com/robb83">View My GitHub Profile</a></p>
		<h2>Hello World Projects:</h2>
	<p class="view"><a href="https://github.com/robb83/Projects/tree/master/Sketches">Sketches</a>
        <p class="view"><a href="#communication-protobuffers">Communication / ProtoBuffers</a></p>
        <p class="view"><a href="#device-remoteshooter">Device / Remote Shooter</a></p>
        <p class="view"><a href="#device-ledcube">Device / Led Cube</a></p>
		<p class="view"><a href="#device-devices-ledmatrixdisplay">Device / Led Matrix Display</a></p>
		<p class="view"><a href="#device-remotedcar">Device / Remote Controller Car</a></p>		
		<p class="view"><a href="#game-tankwars">Games / Tank Wars</a></p>
		<p class="view"><a href="#game-simplesnakedx">Games / SimpleSnakeDX</a></p>
        <p class="view"><a href="#solover-minesweeper">Solover / Minesweeper</a></p>
        <p class="view"><a href="#solover-solitaire">Solover / Solitaire</a></p>
        <p class="view"><a href="#tools-quickforms">Tools / Quick Forms</a></p>
      </header>
      <section>
	  
	  {{ content }}
	  
	  </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
		  var pageTracker = _gat._getTracker("UA-33891633-1");
		pageTracker._trackPageview();
		} catch(err) {}
	</script>
	<!-- <script type="text/javascript">
		function videoMouseController(e) { 
			console.log(e);
			var video = this; 
			setTimeout(function() { 
				if (video.paused) video.play();
			}, 50);
		}
		var videos = document.querySelectorAll('video');
		for(var i = 0; i < videos.length; i++) {
			if (videos[i].attachEvent)
				videos[i].attachEvent('onclick', videoMouseController);
			else
				videos[i].addEventListener('click', videoMouseController);
		}
	</script> -->
  </body>
</html>
